/* Default */
* {
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}
body,
html {
    height: auto;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
}

/* App Default */
.app-outher {
    float: left;
    width: 100%;
}
.app-main {
    float: left;
    width: 100%;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
}
.app-nav-outher {
    float: left;
    width: 100%;
}
.app-nav {
    float: left;
    width: 100%;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
}
.app-message {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100vh;
    z-index: 2;
    pointer-events: none;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
}
.app-boxmessage {
    position: relative;
    display: block;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 5px #000;
}
/* Css */
.app-navigation {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000;
    list-style-type: none;
}
.app-navigation li {
    float: left;
    margin: 0px;
    padding: 0px;
}
.app-navigation li a {
    float: left;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0px;
}
.app-navigation li a:hover {
    background-color: #fff;
    color: #000;
}
